<launch>
<arg name="racecar_version" default="racecar-v2" />


<group ns="vesc">
    <!-- joystick node -->
    <include file="$(find xcar)/launch/includes/common/joy_teleop.launch.xml" >
      <arg name="racecar_version" value="$(arg racecar_version)" />
    </include>

    <!-- Spawn MUXs -->
    <include file="$(find xcar)/launch/mux.launch" />

    <!-- start electronic speed controller driver :VESC driver-->
    <include file="$(find xcar)/launch/includes/$(arg racecar_version)/vesc.launch.xml" >
      <arg name="racecar_version" value="$(arg racecar_version)" />
    </include>

  </group>
   
</launch>
