<launch>
  <arg name="xcar_version" default="xcar-v1" />
  <include file="$(find xcar)/launch/vesc.launch"/>
  
<node pkg="tf" type="static_transform_publisher" name="base_link_to_imu" 
    args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /imu 100" />

<include file="$(find xcar)/launch/includes/common/sensors.launch.xml">
<arg name="xcar_version" value="$(arg xcar_version)"/>
</include>


<arg name="server" default="192.168.31.20"/>

  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg server)
      port: 3883

      update_frequency: 100.0
      frame_id: world

      # Use the VRPN server's time, or the client's ROS time.
      use_server_time: true
      broadcast_tf: true

      # Must either specify refresh frequency > 0.0, or a list of trackers to create
      refresh_tracker_frequency: 1.0
      #trackers:
      #- FirstTracker
      #- SecondTracker
    </rosparam>
  </node>

<!--node pkg="rosbag" type="record" 
        name="bag_record" 
        args="-a -o /home/data/bagfiles/xcar.bag">
</node-->

</launch>
